.tab-box-builder .Mui-selected .MuiTouchRipple-root {
  background: #ffffff !important;
  /* border-radius: 5px 5px 0px 0px; */
}

.tab-box-builder .MuiTouchRipple-root .tabs-text-fms {
  background: #f1f1f1 !important;
  color: #787878 !important;
}

.components-tab .MuiPaper-rounded {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.MuiTabs-flexContainer .Mui-selected:focus {
  outline: 0px !important;
}

.title-component-sidebar {
  font-family: "Open Sans", sans-serif !important;
  color: #161616;
}

.select-tags-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 5px;
}

.select-tags-parent .select-tag-toggle {
  width: 38px;
  height: 35px;
  background: #ebf0f5 !important;
  border-radius: 5px !important;
}

.emmets-summary {
  background: #ffffff;
  border: 1px solid #e7e7e7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05) !important;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05) !important;
  border-radius: 10px !important;
  margin: 10px 0px;
  padding: 10px 0px;
}

.emmets-summary .margin-component .emmets {
  background: #ffffff;
  border: 1px solid #e7e7e7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.emmets-summary .margin-component .emmets .MuiInputBase-formControl {
  width: 50px;
}

.emmets-summary .margin-component .css-cio0x1-MuiInputBase-root-MuiFilledInput-root:before {
  border: none !important;
}

.emmets-summary .heading-logo {
  background: #ebf0f5;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}

.editor-title {
  position: relative;
}

.editor-title:after {
  content: "";
  position: absolute;
  width: 310px;
  height: 2px;
  background-color: white;
  left: -9px;
  bottom: 0px;
}

.selectFont-label .Mui-selected {
  background-color: red !important;
}

.link-to-image-box .MuiTypography-p {
  font-size: 15px;
}

.form-control-image-url input {
  height: 45px !important;
  border: none;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.image-size-box .css-1nrlq1o-MuiFormControl-root {
  width: 100%;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.heading-icon-svg {
  padding: 2px;
}

.accordion-item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  position: relative;
}

.accordion-item .jodit-container {
  margin: 20px 0px;
  min-width: 160px !important;
}

.accordion-item .accord-list {
  max-width: 200px;
}

.accordion-item .accord-list input {
  width: 100% !important;
}

.accordion-item .delete-accord {
  padding: 0;
  width: 50px;
  height: 35px;
  min-width: inherit !important;
  position: absolute;
  right: 0;
}

.accordion-item .delete-accord span {
  margin-right: 0px !important;
}

.add-accord {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: #787878;
          box-shadow: #787878;
}

.add-accord .btn-acord-added {
  max-width: 200px;
  border: 1px solid gray !important;
}
/*# sourceMappingURL=app.css.map */