 .tab-box-builder .Mui-selected .MuiTouchRipple-root {
     background: #FFFFFF !important;
     /* border-radius: 5px 5px 0px 0px; */
 }

 .tab-box-builder .MuiTouchRipple-root .tabs-text-fms {
     background: #F1F1F1 !important;
     /* border-radius: 5px 5px 0px 0px; */
     color: #787878 !important;

 }

 .components-tab .MuiPaper-rounded {
     /* border-radius: 0px 0px 10px 10px; */
     /* box-shadow: none !important; */
 }



 .MuiTabs-flexContainer .Mui-selected:focus {
     outline: 0px !important
 }

 .title-component-sidebar {
     font-family: "Open Sans", sans-serif !important;
     color: #161616;
 }