html,
body {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: row;
}

.pageContainer {
  width: 50%;
  margin: 0 auto;
}

.sideBar {
  position: fixed;
  flex: 0 0 1;
  width: 325px;
  border-right: 1px solid #111;
  height: 100vh;
  background-color: #EFF1F2;

}

.sideBarItem {
  border: 1px solid #E9E9E9;
  border-radius: 3px;
  height: 80px;
  padding: 10px;
  margin-top: 10px;
  background: #ccc;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: #FFFFFF;
  cursor: move;
  display: flex;
  flex-direction: column;
}


.page {
  flex: 1 1 auto;
  /* padding: 0 20px; */
  margin: 20px;
  /* border: 1px solid green; */
}

.page:hover {
  border: 1px dashed blue;
}

.dropZone {
  flex: 0 0 auto;
  height: 40px;
  transition: 200ms all;
}

.dropZone:nth-of-type(2n) {
  display: none;
}

.dropZone.horizontalDrag {
  width: 40px;
  height: auto;
}

.dropZone:not(.horizontalDrag).isLast {
  flex: 1 1 auto;
}

.dropZone.active,
.trashDropZone.active {
  background: #00a2ff;
  transition: 100ms all;
}


.component {
  height: 60px;
  padding: 10px;
  background: #aaa;
}

.column {
  border: 1px solid blue;
  /* flex: 1 1 100%; */
  padding: 10px;
  width: 100%;
}

.columns {
  display: flex;
  padding: 20px 0;
}

.columnContainer {
  display: flex;
}

.base {
  padding: 0.5rem 1rem;
  background-color: white;
  cursor: move;
}

.row-editor {
  border: 1px solid red;
  padding: 0;
}

.trashDropZone {
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 1px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 100px;
}

.icon {
  font-size: 50px !important;
}



.editor-title {
  letter-spacing: 0.20em !important;
  text-align: center;
  /* background-color: #333; */
  color: #333;
  box-shadow: 0 1px rgb(0 0 0 / 4%), inset 0 -1px rgb(0 0 0 / 4%);
  /* color: white; */
}

.dragged {
  box-shadow: 5px 10px 15px rgb(150, 149, 149);
}

.element-title {
  font-size: 18px !important;
}

.tab-box {
  width: 80%;
  margin: 30px auto 0;
}


.css-1ujnqem-MuiTabs-root {
  min-height: 32px !important;
}

.tab-box .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  background-color: #FFFFFF;
  height: 100% !important;
  padding: 8px 32px !important;
  border-radius: 2px;
}

.tab-box .css-heg063-MuiTabs-flexContainer {
  display: flex;
  justify-content: center;

}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  min-height: 0 !important;
}

.elements-parent-box {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  justify-content: center;
  background-color: #FFFFFF;
  padding: 5px 5px 15px 5px;
  box-shadow: 0px 3px 7px 1px #888888;
  border-radius: 2px;
}

.margin-styles {
  display: flex;
  grid-gap: 2px;
}

.direction {
  display: flex;
  justify-content: space-around;
}

.direction span {
  color: #d5dadf;
  font-size: 12px;
}

#filled-number {
  height: 20px;
  padding: 5px !important;
}

.margin-component {
  margin-top: 15px;
}

.title-margin {
  color: #6d7882;
  font-size: 12px;
}

.MuiTabs-indicator {
  left: -1.775px;
  width: 142.663px;
}

.input-settings .link {
  color: #6d7882 !important;
  /* border: 1px solid; */
  width: 100%;
  outline: none;
  margin: 10px 0px;
}